
* ,html {
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body {
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #424242;
    height:100vh;
}
.container{
   height:380px;
   width:250px;
   background-color: #757575;
   border-radius:10px;
   padding:15px;
   text-align:center;
}
img{
  background-size:cover;
  object-fit:cover;
  width:100%;
  height:50%;
  border-radius:5px;
  border: 3px inset #444444;
}
h1 {
  font-size:25px;
  margin:7px 0;
  font-weight:750;
  color: #212121;
  border-radius:10px;
  font-family:Arial,sans-serif;
}
button{
  cursor: pointer;
}
.container h5{
  font-size:23px;
  color: white;
  margin:20px;
  font-family:monospace;
}
.container button{
 background-color: #212121;
 font-weight: 700;
 color: #fff;
 height:50px;
 width:170px;
 margin-top:10px;
 font-size:16px;
 padding: 16px 24px;
 border-radius:15px;
 border:none;
}
.name {
  height:40px;
  display:flex;
  margin-top:10px;
  align-items:center;
  justify-content:center;
  text-align:center;
  border-radius:10px;
  background-color: #BDBDBD;
}
.status {
  height:40px;
  display:flex;
  margin:15px;
  align-items:center;
  justify-content:center;
  text-align:center;
  border-radius:10px;
  background-color: #EF5350;
  transition: background-color 0.3s ease;
}
